---
import BorderedButton from "./BorderedButton.astro";

const {
  className,
  clientName,
  projectDescription,
  link,
  linkLabel,
  mockup,
  mockupName,
} = Astro.props;
---

<div class=`projectCard ${className}`>
  <div class='mockup'>
    <img src={mockup} alt={mockupName} />
  </div>
  <div class='description'>
    <h2>{clientName}</h2>
    <p>{projectDescription}</p>
    {link && <BorderedButton link={link}>{linkLabel}</BorderedButton>}
  </div>
</div>

<style lang='scss'>
  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .mockup {
      min-height: 0;
      flex-shrink: 1;
      display: flex;
    }
    :global(img) {
      object-fit: contain;
      object-position: left bottom;
      width: auto;
      height: auto;
      border: 1px solid #ffffff80;
      border-radius: 1rem;
    }
  }
  .description {
    position: relative;
    color: white;
    height: fit-content;
    min-height: 12rem;
    left: 20%;
    width: 80%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    &::before {
      content: "";
      position: absolute;
      width: 10%;
      height: 100%;
      right: 105%;
      background: url("/images/projectDescriptionArrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }

  @media screen and (max-width: 600px) {
    .projectCard {
      gap: 1rem;
      top: 50%;
    }
    .mockup {
      display: flex;
      flex-direction: column;
      :global(img) {
        min-height: 0;
      }
    }
    .description {
      left: 0;
      width: 100%;
      &::before {
        display: none;
      }
      h2 {
        font-size: 1.25rem;
      }
    }
  }
</style>
